.venv/
__pycache__/
*.py[cod]
*$py.class
.env
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg-info/
.*.un~
*~
config/checks.db
pg-tune/config/tune.db
pg-tune/config/backups/
pg-tune/config/__pycache__/
pg-tune/src/**/__pycache__/
pg-tune/tests/test_tune.db
pg-tune/tests/test_tune.db-journal
pg-tune/tests/test_tune.db-wal
pg-tune/tests/test_tune.db-shm
pg-tune/tests/test_backups/
pg-tune/tests/__pycache__/

